#header{
    width: 100%;
    background: #FFFFFF;
    display: flex;
    justify-content: space-between;
}
#header svg:hover{
    cursor: pointer;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img{
    height: 60px;
}
.logo span{
    color: black !important;
}
.User{
    display: flex;
    align-items: center;
    margin-right: 50px;
}
.User svg{
    margin-right: 10px;
}