.actionTable{
    min-height: 850px;
}
.collCard-Detail{
    min-height: 140px;
}
.totalMoney{
    display: flex;
    justify-content: center;
}
.listButton button{
    width: 100%;
    margin-top: 5px;
    background: #FFFFFF;
}
.listButton .btn{
    font-size: 12px!important;
    padding: 3px 5px!important;
}
.listButton{
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    width: 90%;
    margin: auto;
}

.rounded-full {
    border-radius: 100%;
}
.cardItem:hover .listButton{
    opacity: 1;
    pointer-events: all;
    visibility: visible;
}
#myTabjustified{
    border: 1px solid #000000 !important;
}
#myTabjustified button {
    border-radius: 0 !important;
}
#myTabjustified button:hover{
    border: 1px solid #000000 !important;
   
}
#myTabjustified .active{
    background: #EFEDE4;
    border-radius: 0;
    border: 1px solid #000000;
    border-top: none;
    border-bottom: none;
}
.cardActionItem{
    box-shadow: none !important;
}
.cardActionItem .row{
    background: #EFEDE4;
    border: 1px solid #000000 !important;
}
.cardActionItem img{
    height: 50px !important;
    border: 1px solid #000000;
    border-radius: 50% !important;
}
.cardActionItem .c-card-member-comment{
    display: flex;
    align-items: center;
}
.cardActionItem .c-card-member{
    font-weight: bold;
}
.cardActionItem .c-card-time-money .card-body{
    float: right;
    text-align: right;
}
.cardActionItem .c-card-time-money .c-card-money{
    font-weight: bold;
}
.c-card-time-money svg{
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    cursor: pointer;
}
.c-card-time-money:hover svg{
    opacity: 1;
    pointer-events: all;
    visibility: visible;
}

.Callaborator .dashboard{
    margin-top: 20px;
}