.addTransaction {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.addTransaction button {
  padding: 8px 24px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #EFEDE4;
  border-radius: 10px;
  margin-right: 20px;
}
.transactiontable {
  margin-top: 30px;
  margin-bottom: 30px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}

.transactiontable-header,
.transactiontable-footer {
  border-color: #ebeef4;
  background-color: #fff;
  color: #798eb3;
  padding: 15px;
}

.transactiontable-title {
  padding: 20px 0 15px 0;
  font-size: 18px;
  font-weight: 500;
  color: #012970;
  font-family: "Poppins", sans-serif;
}

.transactiontable-body {
  padding: 0 20px 20px 20px;
}

.transactiontable-img-overlay {
  background-color: rgba(255, 255, 255, 0.6);
}