main {
  background: #f4f7fe;
}

.c-form {
  --bs-border-color: #000000;
}

.c-form .form-label {
  margin-bottom: 0;
}

.c-form .form-select,
.c-form .form-control {
  border-radius: unset;
}

.text-base {
  font-size: 14px;
}
.sidebar-open main#main{
    margin-left: 120px;
}